body
{
	margin: 0;
}
.one
{

margin: 0;
}
.container
{

width: 1200px;

height: 300px;

margin: auto;

padding: 100px 0;
}
.heading
{

text-align: center;
}
.content-box
{

padding: 10px;

cursor: pointer;

transition-duration: .5s;

height: 162px;
}
.content
{

width: 33.33%;

float: left;

text-align: center;

padding: 15px;

box-sizing: border-box;
}

.im
{

margin: auto;

padding-top: 10px;

padding-bottom: 0;
}
.im img
{

width: 42px;

height: 40px;

box-shadow: 4px 4px 10px #00000033;
}

h6 {
    color: #2596c1;
    padding-top: 10px;
    font-weight: 900;
}

h2 {
    font-weight: 500;
}
.con2
{

width: 80%;

height: 150px;

margin: auto;
}
.community
{

width: 33.33%;

float: left;
height: 100%;

box-sizing: border-box;
}
.com-content
{text-align: center;text-decoration-color: white;box-sizing: border-box;color: white;}

.com-content h5{

}

.image
{

text-align: center;

padding-top: 20px;
}
.community img
{

height: 30px;

border-radius: 50%;
}
.two
{
	width: 100%;
	background: #09152F;
}

.container3
{
	width: 1200px;
	height: 420px;
	margin: auto;
	padding: 100px 0 50px 0;
}

.com-content p {
    font-size: 11px;
    padding: 0 15px;
    color: #506579;
    font-weight: 600;
}
.part1 {
    width: 50%;
    float: left;
}
.con
{

padding: 11% 0 0 30%;
}
.button
{

background-color: #2353d2;

width: 20%;

padding: 10px;

cursor: pointer;

text-align: center;
}
.button h5
{

color: #f5ecec;

margin: 0;
}
.button:hover
{
	background-color: black;

}
.con h6
{
	margin: 0;
}
.con p
{

margin-right: 40%;

font-size: 12px;

color: #827171;
}
.con h1
{

font-weight: normal;

color: #3c2c2c;
}
.part2
{

width: 50%;

float: left;
}
.frst
{
	width: 50%;
	margin-left: 0;
}
.pa
{
	width: 50%;
	float: left;
}
.imag
{
	width: 90%;
	float: left;
	text-align: center;
	padding: 10px;
	margin: auto;
	max-height: 170px;
}
.ima
{
	width: 75%;
	margin: auto;
	max-width: 70%;
}
.ima img
{
	width: 100%;
	max-height: 82px;
}
.pad
{
	box-shadow: 4px 4px 10px #0000004a;
	cursor: pointer;
	transition-duration: .5s;
	padding: 20px 10px 10px 5px;
	border-radius: 10px;
}
.pad:hover
{
	box-shadow: -4px -4px 10px #0000004a;
}

.app:hover
{
	box-shadow: -4px -4px 10px #00000030;
}
.ui-ux:hover
{
	box-shadow: -4px -4px 10px #00000030;
}
.wireframing:hover
{
	box-shadow: -4px -4px 10px #00000030;
}


footer{
    width: 100%;
    background-color: #F6FAFD;
}
.footer_wrapper{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
}
.footer_single{
    float: left;
    margin: 0 auto;
    width: 25%;

}
.footer_single h5{
    margin: 0;
    font-size: 22px;
}
.footer_single ul{
    padding: 0;
}
.footer_single ul li{
    list-style: none;
    padding: 7px 0;
}
.footer_single ul li a{
    color: #444242;
    text-decoration: none;
}
/*footer section end here*/
